# Exercícios - Salarios de São Francisco

Análise dos dados contidos em [Dataset SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) no Kaggle!

#### Importando pandas

In [1]:
import pandas as pd

#### Lendo o arquivo

In [2]:
sal = pd.read_csv('Salaries.csv')

#### Topo do dataframe:

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

#### Utilizando o info para saber tamanho do dataframe:

In [32]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 15 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
Tytle_len           148654 non-null int64
TitleLen            148654 non-null int64
dtypes: float64(8), int64(4), object(3)
memory usage: 17.0+ MB

#### "BasePay" médio:

In [5]:
sal['BasePay'].mean()

66325.44884050643

#### Maior quantidade de "OvertimePay":

In [6]:
sal['OvertimePay'].max()

245131.88

#### Qual é o cargo de PATRICK GARDNER?

In [23]:
sal[sal['EmployeeName']=='PATRICK GARDNER']['JobTitle']

4    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
Name: JobTitle, dtype: object

#### Quanto PATRICK GARDNER ganha (incluindo benefícios)?

In [24]:
sal[sal['EmployeeName']=='PATRICK GARDNER']['TotalPayBenefits']

4    326373.19
Name: TotalPayBenefits, dtype: float64

#### Nome da pessoa mais bem paga:

In [25]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]
# ou
# sal.loc[sal['TotalPayBenefits'].idxmax()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Tytle_len,TitleLen
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46,46

#### Nome da pessoa paga com o menor pagamento:

In [10]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

 Pagamento negativo - algo de errado

#### Média de BasePay de todos os funcionários por ano:

In [11]:
sal.groupby('Year').mean()['BasePay']
# ou yby = sal.groupby('Year')
# yby['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

#### Títulos de trabalho que só aparecem uma vez:

In [12]:
sal['JobTitle'].nunique()

2159

#### 10 principais empregos mais comuns:

In [27]:
sal['JobTitle'].value_counts().head(10)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: JobTitle, dtype: int64

#### Número de títulos de Trabalho foram representados por apenas uma pessoa em 2013:

In [30]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

#### Quantidade de pessoas que têm a palavra Chefe em seu cargo:

In [15]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [16]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

#### Verificando correlação entre o comprimento da seqüência do título do trabalho e o salário:

In [28]:
sal['TitleLen'] = sal['JobTitle'].apply(len)

In [29]:
sal[['TitleLen', 'TotalPayBenefits']].corr()

                  TitleLen  TotalPayBenefits
TitleLen          1.000000         -0.036878
TotalPayBenefits -0.036878          1.000000

Não existe correlação entre o comprimento do titulo do trabalho e o salário